{{template "header" . }}
<section>
    <div class="container-xxl  my-5">
        <div class="row justify-content-center">
            <div class="col-2 p-2">
                <h5>Паков: {{.User.Packs.Common}}</h5>
            </div>
            <div class="col-1">
                <a href="/openCommonPack" class="btn btn-outline-warning">Открыть</a>
            </div>
        </div>

        <div class="row ">
            {{range .Cards }}
            {{range . }}
            {{template "card" . }}
            {{end}}
            {{end}}
        </div>
    </div>
</section>
<!-- <script type="module" src="/assets/collection.js"></script> -->
{{template "footer" . }}