{{ define "fantasyTeamCard" }}
<div class="col py-2">
    <div class="card text-white bg-dark" style="width: 14rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/Dendi_TI4.jpg/511px-Dendi_TI4.jpg"
            class="card-img-top" alt="...">
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">

            <div class="card-text bg-transparent bg-gradient shadow-lg p-3  rounded">
                <h4>{{ .PlayerCard.Name }}</h4>
                <h6><small class="text-title">Команда: </small>{{ .PlayerCard.Team }}</h6>
                {{if eq .PlayerCard.Rarity 0}}
                <h6><small class="text-title">Редкость: </small>Common</h6>
                <div>
                    {{else if eq .PlayerCard.Rarity 1}}
                    <h6 class="text-primary"><small class="text-title">Редкость: </small>Rare</h6>
                    <div class="border border-light mb-2 px-2 py-1">
                        {{else if eq .PlayerCard.Rarity 2}}
                        <h6 class="text-epic"><small class="text-title">Редкость: </small>Epic</h6>
                        <div class="border rounded border-light  mb-2 px-2 py-1">
                            {{else if eq .PlayerCard.Rarity 3}}
                            <h6 class="text-warning"><small class="text-title">Редкость: </small>Legend</h6>
                            <div class="border border-light mb-2 px-2 py-1">
                                {{end}}
                                {{range .PlayerCard.Buffs}}
                                <h6><small class="text-title">{{ .DisplayedName }}: </small>+{{ .Multiplier }}%</h6>
                                {{end}}
                            </div>
                            <h6><small class="text-title">Очки: </small>{{ .Points }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}