{{template "header" . }}
<section>
  <div class="container-xxl  my-5">
    <div class="row">
      <div class="col">
        <h3>Фэнтези Лига по Доте 2</h3>
        <p>
          Это фэнтази лига, при регистрации вам будут доступны паки с картами играков. Сейчас в пуле присутствуют все
          команды участницы International 10. Открывая паки вы получаете карты четырех редкостей, у первой нет
          улучшений, а у последующих одно, два или три соответственно.
        </p>
        <p>
          Во вкладке команды вы можите составить свою из имеющихся у вас карт. И в конце дня будут подсчитаны очки по
          прошедшим матчам.
        </p>
      </div>
    </div>
  </div>
</section>


{{template "footer" . }}