<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>

  <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href={{ .CSS }}>
  <link rel="stylesheet" href="assets/main.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">Dota 2 Fantacy league</a>
        {{if .Auth}}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href=" #">Команда</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collection">Коллекция</a>
          </li>
        </ul>
        {{ else }}

        <div class="d-flex">
          <button class="btn btn-outline-light mx-2" data-bs-toggle="modal" data-bs-target="#singinModal">Вход</button>
          <button class="btn btn-outline-light" data-bs-toggle="modal"
            data-bs-target="#singupModal">Регистрация</button>
        </div>

        <div class="modal fade" id="singinModal" tabindex="-1" aria-labelledby="singinModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="singinModalLabel">Вход</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/singin" method="POST">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Почта</label>
                    <input type="email" class="form-control" id="inInputEmail1" aria-describedby="emailHelp"
                      name="email">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="inInputPassword1" name="password">
                  </div>
                  <button type="submit" class="btn btn-outline-light">Вход</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="singupModal" tabindex="-1" aria-labelledby="singupModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="singupModalLabel">Регистрация</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/singup" method="POST">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Почта</label>
                    <input type="email" class="form-control" id="upInputEmail1" aria-describedby="emailHelp"
                      name="email">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="upInputPassword1" name="password">
                  </div>
                  <button type="submit" class="btn btn-outline-light">Зарегестрироваться</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        {{ end }}
      </div>
    </nav>
  </header>



  {{template "footer" . }}